// ==========================================================================
// Utilities / Helpers
// ==========================================================================

// Layout
// ==========================================================================
.u-clearfix {
    @include u-clearfix;
}

.u-margin-bottom\@to-small {
    margin-bottom: rem(60px);
}

// Decorative
// =============================================================================

.u-text-gradient {
    background: rgb(255,219,241);
    background: linear-gradient(145deg, rgba(255,219,241,1) 0%, rgba(218,244,242,1) 32%, rgba(125,204,240,1) 74%, rgba(32,19,187,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;

    html.is-ie & {
        background: none !important;
        -webkit-text-fill-color: inherit;
    }
}

.u-text-gradient_bold {
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: $purple;
    color: $purple;
    font-family: $font-saol;
    font-weight: $normal;
}

.u-truncate {
    @include u-truncate;
}

.u-overflow {
    overflow: hidden;
}

.u-overflow-visible {
    overflow: visible;
}

.u-inline {
    display: inline-block ;
}

.u-pointer-none {
    pointer-events: none;
}

.u-pointer-auto {
    pointer-events: auto;
}

.u-relative {
    position: relative;
}

//  Visibility / Display
// ==========================================================================
[hidden][aria-hidden="false"] {
    position: absolute;
    display: inherit;
    clip: rect(0, 0, 0, 0);
}

[hidden][aria-hidden="false"]:focus {
    clip: auto;
}


// .u-block {
//     display: block;
// }

// /**
//  * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
//  * inline-block will display at its default size, and not limit its width to
//  * 100% of an ancestral container.
//  */
// .u-inline-block {
//     display: inline-block !important;
//     max-width: 100%; /* 1 */
// }

// .u-inline {
//     display: inline !important;
// }

// .u-table {
//     display: table !important;
// }

// .u-tableCell {
//     display: table-cell !important;
// }

// .u-tableRow {
//     display: table-row !important;
// }

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-screen-reader-text {
    @include u-accessibly-hidden;
}

@media not print {
    .u-screen-reader-text\@screen {
        @include u-accessibly-hidden;
    }
}

/*
 * Extends the `.screen-reader-text` class to allow the element
 * to be focusable when navigated to via the keyboard.
 *
 * @link https://www.drupal.org/node/897638
 * @todo Define styles when focused.
 */
.u-screen-reader-text.-focusable {
    @include u-accessibly-focusable;
}
