// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #FFFFFF;
$black: #000000;
$purple: #B5A8DD;
$purple-dark: #2B3147;
$gray-dark: #1B1B1B;

// Specific
// =============================================================================
// Link
$link-color:       $white;
$link-focus-color: $white;
$link-hover-color: darken($white, 10%);
// Selection
$selection-text-color:       $black;
$selection-background-color: $white;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
