// ==========================================================================
// Settings / Config
// ==========================================================================


// Context
// =============================================================================
// The current stylesheet context. Available values: frontend, editor.
$context: frontend  !default;

// Path is relative to the stylesheets directory.
$assets-path: "../"  !default;

// Typefaces
// =============================================================================
$font-sans-serif: 'Maison Neue', sans-serif;

// Typography
// =============================================================================
// Base
$font-size:   16px;
$line-height: 24px / $font-size;
$font-family: $font-sans-serif;
$color:       $white;
// Headings
$font-size-huge:  175px  !default;
$font-size-h1:    145px  !default;
$font-size-h2:    70px  !default;
$font-size-h3:    30px  !default;
$font-size-h4:    20px  !default;
$font-size-h5:    18px  !default;
$font-size-h6:    16px  !default;
$line-height-h:   1.15;
// Weights
$light:  300;
$normal: 400;
$medium: 500;
$bold:   700;


// Transitions
// =============================================================================
$speed:  0.3s;
$speed-fast: ($speed * 0.5);
$speed-medium: ($speed * 1.5);
$speed-slow: ($speed * 2);
$speed-medium-slow: ($speed * 2.5);
$speed-slower: ($speed * 3);
$speed-slower-medium: ($speed * 3.5);
$speed-slowest: ($speed * 4);
$speed-loader: $speed-slower;
$easing: cubic-bezier(0.350, 0.755, 0.420, 0.950);
$easing-in-out: cubic-bezier(0.860, 0.000, 0.070, 0.995);

// Spacing Units
// =============================================================================
$unit:       80px;
$unit-small: 40px;

// Container
// ==========================================================================
$container-width: 2000px;
$padding:         $unit;

// Breakpoints
// =============================================================================
$from-tiny:     500px              !default;
$to-tiny:       $from-tiny - 1     !default;
$from-small:    700px              !default;
$to-small:      $from-small - 1    !default;
$from-medium:   1000px             !default;
$to-medium:     $from-medium - 1   !default;
$from-large:    1200px             !default;
$to-large:      $from-large - 1    !default;
$from-big:      1400px             !default;
$to-big:        $from-big - 1      !default;
$from-huge:     1600px             !default;
$to-huge:       $from-huge - 1     !default;
$from-enormous: 1800px             !default;
$to-enormous:   $from-enormous - 1 !default;
$from-gigantic: 2000px             !default;
$to-gigantic:   $from-gigantic - 1 !default;
$from-colossal: 2400px             !default;
$to-colossal:   $from-colossal - 1 !default;
