// ==========================================================================
// Block checklist
// ==========================================================================

.c-block-checklist {
    position: relative;

    @media (min-width: $from-medium) {
        padding: rem(230px) 0;
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        padding: 40% 0 rem(40px);
    }

    @media (max-width: $to-small) {
        padding: rem(70px) 0 rem(40px);
    }
}

.c-block-checklist_img {
    overflow: hidden;
    position: absolute;
    top: 0; bottom: 0; left: 20%; right: 20%;
    z-index: -1;
    transition: transform $speed-slowest $easing, opacity $speed-slowest $easing;
    opacity: 0;
    transform: scale(0.5);

    &.is-inview {
        opacity: 0.5;
        transform: scale(1);
    }
}

.c-block-checklist_img_bg {
    overflow: hidden;
    position: absolute;
    top: rem(-20px); bottom: rem(-20px); left: rem(-20px); right: rem(-20px); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

