// ==========================================================================
// Button
// ==========================================================================

.c-button {
    padding: rem(12px) rem(30px) rem(12px) 0;
    background-color: none;
    position: relative;
    text-transform: uppercase;
    font-size: rem(16px);
    font-family: $font-maison-neue-extended;
    text-align: left;

    @media (max-width: $to-small) {
        width: 100%;
    }

    &.-line {
        &::before, &::after {
            position: absolute;
            bottom: 0; left: 0; right: 0;
            height: 1px;
            content: "";
            background-color: $white;
        }

        &::before {
            opacity: 0.5;
        }

        &::after {
            transition: transform $speed $easing;
            transform-origin: right center;
            transform: scaleX(0);
        }

        &:hover {
            &::after {
                transform-origin: left center;
                transform: scaleX(1);
            }
        }
    }
}

.c-button_icon {
	position: absolute;
	top: 50%; right: 0;
	transform: translateY(-50%);
}

.c-button_arrow {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2px;
	width: rem(14px); height: rem(17px);
    transition: transform $speed $easing, opacity $speed $easing;

    &.-normal {
        position: relative;

        .c-button:hover & {
            opacity: 0;
            transform: translate(100%,0%);
        }
    }

    &.-hover {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-150%,-50%);
        opacity: 0;

        .c-button:hover & {
            opacity: 1;
            transform: translate(-50%,-50%);
        }
    }
}