// ==========================================================================
// Carousel How
// ==========================================================================

.c-carousel-how {
	position: relative;
}

.c-carousel-how_item {
	box-sizing: border-box;
	padding-bottom: rem(260px)
}

.c-carousel-how_content {
	position: relative;

	&.-padding-right {
		@media (min-width: $from-medium) {
			padding-right: 45%;
		}
	}
	
	&.-padding-left {
		@media (min-width: $from-large) {
			padding-left: rem(220px);
		}

		@media (min-width: $from-medium) and (max-width: $to-large) {
			padding-left: rem(120px);	
		}
	}
}

.c-carousel-how_control {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	z-index: 3;
}

.c-carousel-how_title {
	position: relative;
	z-index: 5;
}

.c-carousel-how_number {
	@media (min-width: $from-medium) {
		position: absolute;
		 left: 0;
	}

	@media (min-width: $from-large) {
		top: rem(40px);
	}

	@media (min-width: $from-medium) and (max-width: $to-large) {
		top: rem(20px);
	}

	@media (max-width: $to-medium) {
		display: none;
	}
}

.c-carousel-how_video {
	z-index: -2;
	position: relative;
	overflow: hidden;

	&::before {
        display: block;
        width: 100%;
        content: "";
		padding-bottom: 74.75%;
	}

	@media (min-width: $from-large) {
		top: rem(-100px);
	}
	
	@media (min-width: $from-medium) {
		position: absolute;
		top: rem(-20px); right: 10%;
		width: 38%; 
		//padding-bottom: 30%;
	}

	@media (max-width: $to-medium) {
		//padding-bottom: 70%;
		margin: -10% 0;
	}

	video {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
    	height: 100%; width: 100%;
    	object-fit: cover;
    }
}

.c-carousel-how_title {
	@media (max-width: $to-large) {
		transition: transform $speed $easing;

		.swiper-slide-active & {
			transform: translateX(0) !important;
		}
	}

	@media (min-width: $from-medium) and (max-width: $to-large) {
		transform: translateX(rem(-400px)) !important;
	}

	@media (max-width: $to-medium) {
		transform: translateX(rem(-50px)) !important;
		padding-right: rem(60px);
	}
}

.c-carousel-how_container {
	overflow: visible;
}