// ==========================================================================
// Footer
// ==========================================================================

.c-footer {
    background-color: $black;
    padding: rem($unit) 0 rem($unit-small);

     @media (max-width: $to-small) {
        padding-bottom: rem(20px);
    }
}

.c-footer_rail {
    position: relative;
    margin: rem(60px) 0 rem(100px);
}

.c-footer_rail_email {
    position: absolute;
    top: rem(70px); left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    
    display: inline-block;
    line-height: 1.2;

    @media (min-width: $from-medium) {
        font-size: rem(30px);
    }

    @media (max-width: $to-medium) {
        font-size: rem(22px);
    }

    &::before, &::after {
        position: absolute;
        bottom: 0; left: 0; right: 0;
        height: 1px;
        content: "";
        background-color: $white;
    }

    &::before {
        opacity: 0.5;
    }

    &::after {
        transition: transform $speed $easing;
        transform-origin: right center;
        transform: scaleX(0);
    }

    &:hover {
        &::after {
            transform-origin: left center;
            transform: scaleX(1);
        }
    }
}


// Footer social links
// ==========================================================================

.c-footer_social_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.c-footer_social_item {
    @media (min-width: $from-small) {
        margin: 0 rem(50px);
    }

    @media (max-width: $to-small) {
        width: 50%;
        text-align: left;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.c-footer_social_link {
    display: inline-block; 
    position: relative;
    padding: rem(8px) rem(25px) rem(8px) 0;
}

.c-footer_social_label {
    text-transform: uppercase;
    font-size: rem(16px);
    position: relative;
    display: inline-block;

    &::before {
        position: absolute;
        bottom: 0; left: 0; right: 0;
        height: 1px;
        background-color: $white;
        content:"";
        transition: transform $speed $easing;
        transform-origin: right center;
        transform: scaleX(0);

        .c-footer_social_link:hover & {
            transform-origin: left center;
            transform: scaleX(1);
        }
    }
}

.c-footer_social_icon {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%) rotate(-45deg);
}

.c-footer_social_arrow {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2px;
    width: rem(14px); height: rem(17px);
    transition: transform $speed $easing, opacity $speed $easing;

    &.-normal {
        position: relative;

        .c-footer_social_link:hover & {
            opacity: 0;
            transform: translate(100%,0%);
        }
    }

    &.-hover {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-150%,-50%);
        opacity: 0;

        .c-footer_social_link:hover & {
            opacity: 1;
            transform: translate(-50%,-50%);
        }
    }
}