// ==========================================================================
// Heading
// ==========================================================================

.c-heading {
    line-height: $line-height-h;
    margin-bottom: rem(40px);
    font-family: $font-maison-neue-extended;

    &.-huge {
        font-size: rem($font-size-huge);
    }

    &.-h1 {
        @media (min-width: $from-huge) {
            font-size: rem($font-size-h1);
        }

        @media (min-width: $from-large) and (max-width: $to-huge) {
            font-size: rem(130px);
        }

        @media (min-width: $from-medium) and (max-width: $to-large) {
            font-size: rem(105px);
        }

         @media (min-width: $from-small) and (max-width: $to-medium) {
            font-size: rem(65px);
        }

        @media (max-width: $to-small) {
            font-size: rem(45px);
        }
    }

    &.-h2 {
        @media (min-width: $from-large) {
            font-size: rem($font-size-h2);
        }

        @media (min-width: $from-medium) and (max-width: $to-large) {
            font-size: rem(60px);
        }

        @media (max-width: $to-medium) {
            font-size: rem(45px);
        }
    }

    &.-h3 {
        font-family: $font-maison-neue;
        font-weight: $normal;

        @media (min-width: $from-medium) {
            font-size: rem($font-size-h3);
        }

        @media (max-width: $to-medium) {
            font-size: rem(22px);
        }
    }

    &.-h4 {
        font-size: rem($font-size-h4);
        font-family: $font-maison-neue;
        font-weight: $normal;
    }

    &.-h5 {
        font-size: rem($font-size-h5);
        font-family: $font-maison-neue;
        font-weight: $normal;
    }

    &.-h6 {
        font-size: rem($font-size-h6);
        font-family: $font-maison-neue;
        font-weight: $normal;
    }
    
    &.-no-margin {
        margin: 0;
    }
}


.c-heading_sup {
    font-family: $font-saol;
    color: $purple;
    display: inline-block;

    @media (min-width: $from-medium) {
        font-size: rem(30px);
        top: -3em; left: -0.5em;
    }

    @media (max-width: $to-medium) {
        font-size: rem(22px);
        top: -1.5em; left: 0;
    }

    &.-margin-top {
        margin-top: rem(30px);
    }
}