// ==========================================================================
// Header mask
// ==========================================================================

.c-header-mask {
	position: relative;
	overflow: hidden;
}

.c-header-mask_pannel {
	position: absolute;
	top: 0; 
	overflow: hidden;

	@media (min-width: $from-medium) {
		width: 50%;
		bottom: 0;
	}

	@media (max-width: $to-medium) {
		width: 100%;
		height: 100vh;
		transform: none !important;

		&::before, &::after {
			position: absolute;
			left: 0; right: 0;
			content: "";
			background-color: $black;
			height: rem(140px);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}

	&.-left {
		left: 0;
	}

	&.-right {
		right: 0;
	}
}

.c-header-mask_bg {
	position: absolute;
 	top: 0; bottom: 0;
 	transition: transform $speed-slow $easing;

 	@media (min-width: $from-medium) {
 		left: 0; right: 0;
 	}

 	@media (max-width: $to-medium) {
 		width: 20%;

 		.c-header-mask_pannel.-left & {
 			left: 0;
 		}

 		.c-header-mask_pannel.-right & {
 			right: 0;
 		}
 	}

 	@media (max-width: $to-small) {
 		width: rem($unit);
 	}

	&::before {
		position: absolute;
	 	top: 0; left: 0; right: 0; bottom: 0;
		background-color: $black;
		content: "";
		transition: transform $speed-slower $easing;
		transform: scale(1);

		html.has-hero-slider-active & {
			transform: scaleX(0);
		}

		.c-header-mask_pannel.-left & {
 			transform-origin: left center;
 		}

 		.c-header-mask_pannel.-right & {
 			transform-origin: right center;
 		}
	}

 	html.is-loaded .c-header-mask_pannel.-left & {
 		@media (min-width: $from-medium) {
 			transform: translateX(-18vw);
 		}
 	}

 	html.is-loaded .c-header-mask_pannel.-right & {
 		@media (min-width: $from-medium) {
 			transform: translateX(18vw);
 		}
 	}

}

.c-header-mask_opacity {
	position: absolute;
	top: 0; left: 0;  right: 0; bottom: calc(50vh + #{rem(400px)} );
}

.c-header-mask_opacity_bg {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: $black;
	opacity: 0;

	@media (max-width: $to-medium) {
		opacity: 0 !important;
	}
}

