// ==========================================================================
// Intro
// ==========================================================================

.c-intro {
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 200;
    background-color: $black;
    transition: visibility 0s 0s;

    html.is-loading & {
        visibility: visible;
    }

    html.is-loaded & {
        visibility: hidden;
    }
}

.c-intro_logo {
    width: 400px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%) translateY(-30px);

    @media (max-width: $to-small) {
        width: 280px;
    }

    html.is-loaded & {
        display: none;
    }
}