// ==========================================================================
// Text Blur
// ==========================================================================

.c-text-blur {

}

.c-text-blur_item {
	animation: blurText 3s 0s infinite;
	display: inline-block;
	position: relative;
	animation-play-state: paused;

	.c-text-blur.is-inview & {
		animation-play-state: running;
	}
	
	&.-delay {
		animation: blurTextReverse 3s paused infinite;
	}

}

@keyframes blurText {
	0%	{
		text-shadow:  0 0 20px #fff;
	}
	50%	{
		text-shadow:  0 0 0px #fff;
	}
	100%{
		text-shadow:  0 0 20px #fff;
	}
}

@keyframes blurTextReverse {
	0%	{
		text-shadow:  0 0 0px #fff;
	}
	50%	{
		
		text-shadow:  0 0 20px #fff;
	}
	100%{
		text-shadow:  0 0 0px #fff;
	}
}