// ==========================================================================
// Video
// ==========================================================================

.c-video {
    position: relative;
    cursor: pointer;

    @media (max-width: $to-small) {
        margin-bottom: rem(60px);
    }
}

.c-video_icon { 
    position: absolute;
    top: 50%; left: 50%;
    z-index: 10;
    width: rem(96px); height: rem(96px);
    border-radius: 100%;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    transform: translate(-50%,-50%);
    display: none;

    html.is-mobile & {
        display: flex;
    }
}

.c-video_video {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    object-fit: cover;
}