@import "settings/config.colors";
@import "settings/config";
@import "tools/functions";
@import "components/intro";

html.is-loading {
    cursor: wait;
}

.c-page {
    opacity: 0;
    transition: opacity $speed $easing;

    .is-loaded & {
        opacity: 1;
    }
}