// ==========================================================================
// Base / Page
// ==========================================================================

//
// Simple page-level setup.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables.
// 2. Ensure the page always fills at least the entire height of the viewport.
//
html {
    min-height: 100%; /* [2] */
    color: $color;
    font-family: $font-family;
    line-height: $line-height; /* [1] */
    background-color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: $to-small) {
        font-size: 14px;
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        font-size: 14px;
    }

    @media (min-width: $from-medium) and (max-width: $to-large) {
        font-size: 12.5px;
    }

    @media (min-width: $from-large) and (max-width: $to-huge) {
        font-size: 13px;
    }

    @media (min-width: $from-huge) and (max-width: $to-gigantic) {
        font-size: 16px;
    }

    @media (min-width: $from-gigantic) and (max-width: $to-colossal) {
        font-size: 18px;
    }

    @media (min-width: $from-colossal) {
        font-size: 20px;
    }

    &.is-loading {
        cursor: wait;
    }

    &.has-scroll-smooth {
        overflow: hidden;
    }

    &.has-scroll-dragging {
        user-select: none;
    }
}

body {
    .has-scroll-smooth & {
        overflow: hidden;
    }
}

::selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
    text-shadow: none;
}

a {
    color: $link-color;

    @include u-hocus {
        color: $link-hover-color;
    }
}
